## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## 1. Preprocessing

### 1.1 Cleaning

In [8]:
df = pd.read_csv(r"E:\Rajesh\ClipboardHealth\usage_data.csv")
df.columns = [i.lower().replace(" ","_") for i in df.columns]

#### 1.2 Date formatting and split

In [10]:
df['date'] = pd.to_datetime(df['date'], format = 'mixed')
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

## 2. Analysis

In [11]:
df.head()

,date,username,feature,sessions,time_spent,average_time_spent,year,month
0,2017-01-06,kwalter,Reporting,14,23.0,1.642857,2017,1
1,2017-01-06,kcarr,Roadmap,17,55.0,3.235294,2017,1
2,2017-01-06,cstuart,Automation,13,2.0,0.153846,2017,1
3,2017-01-06,mkelley,Task Creation,14,18.0,1.285714,2017,1
4,2017-02-06,edillon,Task Creation,17,13.0,0.764706,2017,2

-- [x] Item 1